@tailwind base;
@tailwind components;
@tailwind utilities;


h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
span {
    color: #fff;
}


body {
    background-color: #1f2125;
}

.custom-container {
    max-width: 1440px;
    width: 100%;
    margin: 0 auto;
}

body::-webkit-scrollbar,
.aside-scroll::-webkit-scrollbar {
    width: 8px;
}

body::-webkit-scrollbar-track,
.aside-scroll::-webkit-scrollbar-track {
    background: #f1f1f1;
}

body::-webkit-scrollbar-thumb,
.aside-scroll::-webkit-scrollbar-thumb {
    background: #2ca4ab;
}